.navbar-right{
    position: relative;
    float: right !important;
    height:50px
}
.content-container{
    margin-top: 75px;
}
.mynavbar{
    width: 80%;
}
.sits-button{
    position: relative;
    top:5px
}