.navbar-right{
    position: relative;
    float: right !important;
    height:50px
}
.content-container{
    margin-top: 75px;
}
.sits-button{
    position: relative;
    top:5px
}
.stats-table-right{
    margin-top: 10px;
}