.content-container{
    margin-top: 2rem;
    /*padding: 0 !important;*/
}
.stats-table-right{
    margin-top: 2rem;
}
a{
    outline:none
}
.navbar-avatar{
    align-self: flex-start;
    border-radius: 50%;
    height: 50px;
}
.profile-avatar{
    border-radius: 20%;
    border: 4px solid gray;
}