{% extends 'base.html' %}
{% block title %}
Player Stats
{% endblock title %}
{% block content %}
<script>
    {% autoescape off %}
    general_stats_json = {{playerstats.stats_general_json}}
    map_stats_json = {{playerstats.stats_map_json}}
    mvm_stats_json = {{playerstats.stats_mvm_json}}
    {% endautoescape %}
</script>
<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a class="nav-link active" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#class-stats" role="tab" aria-controls="class-stats" aria-selected="false">Class Stats</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#map-stats" role="tab" aria-controls="map-stats" aria-selected="false">Map Stats</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#mvm-stats" role="tab" aria-controls="mvm-stats" aria-selected="false">MVM Stats</a>
    </li>
</ul>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="tab-content">
  <div id="overview" class="tab-pane fade show active">
    <div class="row">
        <div class="col-sm-6">
            <canvas id="class-chart"></canvas>
            <script>
                var playtimes = Array();
                classes = ['Scout', 'Soldier', 'Pyro', 'Demoman', 'Heavy', 'Engineer', 'Medic', 'Sniper', 'Spy'];
                classes.forEach(function(e){playtimes.push([e, general_stats_json[e+".accum.iPlayTime"]]);});
                // sort in descendig order
                playtimes.sort(function(a, b){return b[1]-a[1];});
                sorted_classes = playtimes.map(function(e){return e[0];});
                // sort and convert to hours
                sorted_times = playtimes.map(function(e){return Math.round(e[1] / 360)/10;});
                var ctx = document.getElementById('class-chart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: {
                        labels: sorted_classes,
                        datasets: [{
                            label: 'Hours played',
                            data: sorted_times,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(255, 99, 132, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
        </div>
        <div class="col-sm-6">
            <table class="table stats-table-right">
                <tr>
                    <td>Most played:</td>
                    <td id="class_most_played"></td>
                </tr>
                <tr>
                    <td>Least played:</td>
                    <td id="class_least_played"></td>
                </tr>
            </table>
            <script>
                document.getElementById("class_most_played").innerHTML = sorted_classes[0];
                document.getElementById("class_least_played").innerHTML = sorted_classes[sorted_classes.length - 1];
            </script>
        </div>
    </div>
  </div>
  <div id="class-stats" class="tab-pane fade">
  </div>
  <div id="map-stats" class="tab-pane fade">
  </div>
  <div id="mvm-stats" class="tab-pane fade">
  </div>
</div>
{% endblock %}