{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stats.tf | {% block title %}{% endblock title %} </title>
    <link rel="icon" type="img/ico" href="{%static "img/favicon.ico"%}">
    <link rel="stylesheet" href="{% static "css/default.css"%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
</head>
<body>
    <!--
    <nav class="navbar fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">stats.tf</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li><a href="/profiles">Player Stats</a></li>
                    <li><a href="/global">Global Stats</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="visible-xs"></li>
                </ul>
                <div class="nav navbar-nav hidden-xs">
                    {% if request.session.profile is None %}
                    <form method="post" action="/login/" id="login" class="navbar-form hidden-xs navbar-btn sits-button" style="height:23px">
                        <input type="image" src="{%static "img/sits_small.png"%}" alt="Sign In">
                        {% csrf_token %}
                        <input type="hidden" name="return" value={{ request.get_full_path }}>
                    </form>
                    {% else %}
                    <div class="nav navbar-nav navbar-profile navbar-btn">
                        <img src="{{request.session.profile.avatar_url_small}}" class="navbar-avatar">
                        <a href="/profiles/{{request.session.profile.steamid}}" class="nav-link">{{request.session.profile.displayname}}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">stats.tf</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/profiles">Player Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/global">Global Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container card content-container">
        {% if page_name is None %}EMPTY PAGE NAME!!{% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
